.navbar {
    overflow: hidden;
    background-color: rgb(48, 67, 45);
    top: 0;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .navbar-brand {
    float: left;
    display: block;
    color: rgb(48, 67, 45);
    text-align: center;
    padding: 6.7px 14px;
    text-decoration: none;
}

.navbarbo .navbar-brand {
    float: left;
    display: block;
    color: rgb(48, 67, 45);
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar .navbar-brand:hover {
    background: rgb(48, 67, 45);
    color: black;
}

.navbarbo {
    overflow: hidden;
    background-color: rgb(48, 67, 45);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbarbo a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
}

.navbarbo a:hover {
    background: #f1f1f1;
    color: black;
}

.navbarbo .navbar-brand:hover {
    background: rgb(48, 67, 45);
    color: black;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 5px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(48, 67, 45);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
}

#myBtn:hover {
    background-color: #555;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    margin: 0 7em;
}

.images img {
    cursor: pointer;
    border-width: 1px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 1;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
}

.modalContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalImg {
    width: 80%;
    max-width: 400px;
}

.modalTxt {
    margin-top: 1em;
}

.close {
    position: absolute;
    top: 1em;
    right: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
}

.modal.appear {
    opacity: 1;
    pointer-events: all;
}

.container {
    text-align: center;
}

body {
    background: white;
}

.menu {
    position: absolute;
    display: inline-block;
    top: 16px;
    right: 150px;
    font-size: 16px;
}

.menus {
    position: absolute;
    display: inline-block;
    top: 16px;
    right: 32px;
    font-size: 16px;
}

body h1 {
    text-align: center;
    font-size: 30px;
}