* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: rgb(48, 67, 45);
    position: static;
    top: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .navbar-brand {
    float: left;
    display: block;
    color: rgb(48, 67, 45);
    text-align: center;
    padding: 6.7px 14px;
    text-decoration: none;
}

.navbarbo .navbar-brand {
    float: left;
    display: block;
    color: rgb(48, 67, 45);
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar .navbar-brand:hover {
    background: rgb(48, 67, 45);
    color: black;
}

.navbarbo {
    overflow: hidden;
    background-color: rgb(48, 67, 45);
    position: static;
    bottom: 0;
    width: 100%;
}

.navbarbo a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
}

.navbarbo a:hover {
    background: #f1f1f1;
    color: black;
}

.navbarbo .navbar-brand:hover {
    background: rgb(48, 67, 45);
    color: black;
}

.container {
    width: 100;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(p1.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.row {
    display: flex;
    height: 100%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: rgb(59, 48, 119);
    font-size: 120px;
}

h2 {
    color: rgb(144, 133, 209);
    font-size: 50px;
}

p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.card {
    width: 230px;
    height: 120px;
    display: inline-block;
    border-radius: 12px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(p6.jpg);
}

.card2 {
    background-image: url(p3.jpg);
}

.card3 {
    background-image: url(p4.jpg);
}

.card4 {
    background-image: url(p2.jpg);
}

.card5 {
    background-image: url(p7.jpg);
}

.card:hover {
    transform: translateY(-10px);
}

h5 {
    color: rgb(234, 250, 11);
    text-shadow: 0 0 8px rgb(4, 30, 100);
    font-size: 18px;
}